.jkmb-calculator{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
    border: 1px solid black;
}

.jkmb-calculator .operation-block button{
    width: 50px;
    height: 50px;
    margin: 20px;
}
.jkmb-calculator .input-block label{
    display: block;
}
.jkmb-calculator .input-block{
    display: inline-block;
    padding: 10px;
}